html {
    margin: 0;
    padding: 0;
    background: #f4eecd;
    color: #f4eecd;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

body{
    border: 1px solid #f4eecd;
    padding: 40px 50px;
    text-align: center;
    background: #000;
}

h1 {
    margin: 0 0 10px;
    font-size: 2rem;
    font-weight: 600;
    color: #f4eecd;
}

p {
    margin: 0;
    font-size: 1rem;
    opacity: 0.85;
}
a{
    background-color: #f4eecd;
    color: #000;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}